body {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Navbar */

.navbar .container-fluid {
    background-color: white;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: white;
}

.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    column-gap: 50%;
}

.nav-item {
    display: flex;
    justify-self: center;
    align-items: center;
}

.brand-image {
    border-radius: 45%;
    margin-left: 55%;
}

.about {
    color: rgb(220, 136, 52);
}

#about {
    color: rgb(220, 136, 52);
}

/* About me */

.about-me {
    margin: 3rem;
}

.intro {
    color: rgb(11, 126, 171);
}

.developer {
    color: rgb(220, 136, 52);
}

/* Footer */

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.alpha {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 10vh;
}

.col a {
    color: black;
}

.icon a:hover, .icon .main:hover {
    filter: invert(50%) sepia(70%) hue-rotate(180deg);
}


.icon img:hover {
    filter: invert(50%) sepia(70%) hue-rotate(180deg);
}