.navbar .container-fluid {
    background-color: white;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: white;
}

.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    column-gap: 50%;
}

.nav-item {
    display: flex;
    justify-self: center;
    align-items: center;
}

.brand-image {
    border-radius: 50%;
    margin-left: 15%;
}

.hero-section {
    margin-top: 10vh;
}

.p-2 {
    margin-top: 3vh;
    margin-bottom: 4vh;
}