body {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Navbar */

.navbar .container-fluid {
    background-color: white;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: white;
}

.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    column-gap: 50%;
}

.nav-item {
    display: flex;
    justify-self: center;
    align-items: center;
}

.brand-image {
    border-radius: 45%;
    margin-left: 100%;
}

.home {
   color :rgb(220, 136, 52); 
}

#home {
    color: rgb(220, 136, 52);
}


/* Hero Section */

.hero-section {
    margin-top: 10vh;
}

.p-2 {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.hero-button {
    display: flex;
    gap: 5%;
}

.img-fluid {
    border: 0px solid skyblue;
    border-top: .2rem solid rgba(115, 207, 244, .74);
    border-right: .2rem solid rgba(115, 207, 244, .74);
    border-bottom-left-radius: 70%;
    box-shadow: -1rem .2rem 5px rgba(115, 207, 244, 0.74);
}

.welcome {
    color: rgb(115, 207, 244);
}

.intro {
    color: rgb(11, 126, 171);
}

.see {
    color: rgb(115, 207, 244);
    border: none;
    background: none;
    cursor: pointer;
}

.developer {
    color: rgb(220, 136, 52);
}

/* Button */ 
 
#btn {
    background-color: rgb(115, 207, 244);
    color: #fff;
}

#btn:hover {
    background-color: #fff;
    color: rgb(115, 207, 244);
}

#btn2:hover {
    color: white;
}

.hero-paragraph {
    font-weight: 400;
}

/* About me */

.about_me {
    margin-top: 20vh;
}